/*selector universal*/
*{margin: o; padding: 0;}

/*css-selector: 3 tipos: 1-NombreEtiqueta, 2-Clase(.), 3-Id(#)*/

body{
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    font: 12px Monaco, Monospace;
}
#contenido{
    width: 80%;
    height: auto;
    display: block;
    margin: 80px auto;
    background-color: #fff;
    border: 10px solid #ddd;
    padding: 20px 10%;
    border-radius: 50px;
    font-family: 'Spartan', sans-serif;
}
h1{
    font-size: 25px;
    padding: 0 0 10px;
    color: darkblue;
    border-bottom: 1px solid #ddd;
}
h2{
    font-size: 18px;
    padding: 10px 0;
    color: #5c8a8b;
    border-bottom: 1px solid #ddd;
}
#sec{
    border: black 1px solid;
    margin: 10px 25%;
}
#pp{
    background-color: white;
    margin: 10px 37%;
}